#fifthSection {
    width: 100%;
    height: auto;
    padding: 120px;
    background-image: url('/sections/fifthSectionBg.png');
    background-size: cover;
    background-position: center;
    article {
        width: 100%;
        height: 288px;
        display: flex;
        align-items: center;
        border: 1px solid #ffffff31;
        backdrop-filter: blur(10px);
        h2 {
            width: 100%;
            text-align: center;
            color: #ffffff;
            font-size: 48px;
            font-weight: 500;
        }
        p {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 28px;
            span {
                color: #ffffff;
            }
        }
    }
}