.appThirdSectionImage {
    position: absolute;
    bottom: -30;
    max-width: 40%;
    object-fit: contain;
    height: 550px;
}

#appThirdSectionImage1 {
    right: 8%;
}

#appThirdSectionImage2 {
    left: 8%;
}

#appThirdSectionImage3 {
    right: 8%;
}

#appThirdSectionImage4 {
    left: 8%;
}